html, body {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: arial;
}

header {
  position: fixed;
  display: flex;
  justify-content: stretch;
  width: 100%;
  height: 33px;
  padding: 4px 15px;
  border-bottom: solid 1px #e2e2e2;
  background: white;
  z-index: 1;
}

.links {
  display: flex;
  flex: 1;
  height: 100%;
}

.hamburger {
  width: 25px;
  height: 100%;
}

.magnifier {
  width: 25px;
  height: 100%;
}

.category-nav {
  text-decoration: none;
  color: #000000;
  font-family: arial;
  font-size: 14.25px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.7px;
}

.logo {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  justify-content: center;
  margin: auto;
}

.nyt-logo {
  height: 25px;
  width: 190px;
}

.filler {
  height: 100%;
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 35px;
  height: 100%;
  width: 100%;
  padding: 60px;
  font-family: arial;
}

.title {
  height: 96px;
  width: 600px;
  line-height: 1.2em;
  font-size: 40px;
  margin-bottom: 20px;
}

.social {
  display: flex;
  width: 600px;
  height: 34.2px;
  padding-top: 20px;
  margin: 0 auto;
  border-top: 1px solid #ebebeb;
  justify-content: flex-start;
}

a.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  margin-right: 16px;
  height: 27px;
  width: 27px;
  background: #eeeeee;
  border: none;
  border: 1px #eee solid;
  border-radius: 50%;
}

img.svg {
  box-sizing: content-box;
  height: 15px;
  width: 15px;
  padding: 5px;
  background: transparent;
}

a.social-link:hover {
  background: #fff;
}

button.repost {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-right: 16px;
  padding: 5px;
  height: 27px;
  width: 27px;
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 50%;
}

button > .repost-svg {
  position: relative;
  flex: 1;
  box-sizing: content-box;
  height: 15px;
  width: 15px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

button.repost:hover {
  background: #fff;
}

button.bookmark {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-right: 16px;
  /* padding: 10px 0; */
  height: 29.2px;
  width: 16px;
  background-color: transparent;
  color: #666;
  border: none;
  cursor: pointer;
}

button > .bookmark-svg {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  height: 25px;
  width: 16px;
  border: none;
}

button > .bookmark-svg:hover {
  opacity: 0.5;
}

.comment-bubble-btn {
  display: flex;
  justify-content: center;
  width: 28px;
  height: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

div.comment-bubble {
  display: flex;
  box-sizing: content-box;
  position: relative;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  border: solid #666 0.733333px;
  font-size: 12px;
  width: 26px;
  height: 13px;
  padding: 4px;
  justify-content: center;
}

div.comment-bubble::before {
  position: absolute;
  display: block;
  content: "";
  border-color: #666 transparent transparent transparent;
  border-style: solid;
  border-width: 6px 0px 0px 8px;
  left: 15px;
  bottom: -7px;
}

div.comment-bubble::after {
  position: absolute;
  display: block;
  content: "";
  border-color: #FFF transparent;
  border-style: solid;
  border-width: 6px 0px 0px 6px;
  left: 16px;
  bottom: -6px;
}

div.comment-bubble:hover {
  opacity: 0.5;
}

figure.alan-guth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 25px auto 43px auto;
}

figure.telescope {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  margin: 25px auto 43px auto;
}

figcaption {
  font-size: 0.85rem;
  line-height: 1.25rem;
  max-width: 900px;
  color: #666666;
}

.credit {
  color: #888888;
  letter-spacing: 0.01em;
  font-size: 13px;
}

.article-info {
  margin-bottom: 25px;
}

.article-info > * {
  width: 600px;
  margin-bottom: 15px;
  line-height: 16px;
  font-size: 0.93rem;
  font-family: arial;
  letter-spacing: 0.02em;
}

.author {
  font-weight: 700;
}

.author > a {
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #cccccc;
}

time {
  color: #333;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
}

.article, .companion-story, .video-embed, .video-story, .microwave-radiation{
  display: flex;
  flex-direction: column;
  width: 600px; 
  font-size: 1.25em;
  line-height: 1.5em;
}

section.article p, section.companion-story p, section.video-story p, .microwave-radiation p {
  margin-bottom: 16px;
}

section.article a, section.companion-story a, section.video-story a, .microwave-radiation a {
  color: #326891;
  text-decoration: underline;
  cursor: pointer;
  line-height: 1.3em;
}

.grid-display {
  box-sizing: content-box;
  width: 988px;
  height: 723.6px;
  margin: 15px 0;
}

.image-wrapper {
  background-image: url("images/inflation.png");
    height: 600px;
  background-size: cover;
  padding-bottom: 10px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 228px);
  align-items: start;
  align-content: space-between;
  justify-content: center;
  grid-gap: 130px 25px;
  padding-top: 145px;
}

.grid-display > h1 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-bottom: 4px;
}

.grid-display p {
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 400;
  color: #666;
  margin-bottom: 16px;
}

.grid-wrapper p {
  display: inline
}

.grid-display span {
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 5px;
}

.story-footer:before {
  display: inline-block;
  height: 1px;
  width: 60px;
  content: '';
  background-color: #000;
  margin-bottom: 13px;
}

.story-footer {
  margin-top: 34px;
}

.companion-story {
  margin-top: 65px;
}

.video-embed {
  margin: 30px 0;
}

.video-embed iframe {
  width: 100%;
}

figure > figcaption {
  text-decoration: none !important;
}

.site-index {
  margin: 0 auto;
  max-width: 1200px;
  height: 458px;
  padding: 0 3% 9px 3%;
}

.site-index:before {
  display: block;
  box-sizing: content-box;
  content: '';
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  border-top: 2px solid #e2e2e2;
  height: 1px;
  margin-top: 0px;
}

.site-index > header { /* removing this fixes border on bottom of nyt logo */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 44px;
  padding: 0px;
}

.home-page {
  color: #567b95;
  text-decoration: none;
  font-weight: 400;
  line-height: 11px;
  font-size: 11px;
}

.site-index img {
  width: 184px;
  height: 44px;
  line-height: 16px;
}

.nav-links {
  display: flex;
  position: relative;
}

.nav-links h3 {
  color: rgb(51, 51, 51);
  font-size: 13px;
  font-weight: 700;
  font-family: arial;
  height: 25px;
  line-height: 15px;
  margin: 0px;
  text-transform: uppercase;
  width: 150px;
}

.nav-links > section > ul {
  display: flex;
  position: relative;
  flex-direction: column;
}

.nav-links > section > ul > a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #333;
  font-family: arial;
  width: 150px;
  height: 23px;
}