html, body {
  width: 100vw;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

header {
  position: fixed;
  display: flex;
  justify-content: stretch;
  width: 100vw;
  height: 33px;
  padding: 4px 15px;
  border-bottom: solid 1px #e2e2e2;
  background: white;
  z-index: 1;
}

.links {
  display: flex;
  flex: 1;
  border: solid 1px red;
  height: 100%;
}

.hamburger {
  width: 25px;
  height: 100%;
}

.magnifier {
  width: 25px;
  height: 100%;
}

.category-nav {
  text-decoration: none;
  color: #000000;
  font-family: nyt-franklin, Helvetica, Arial;
  font-size: 14.25px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.7px;
}

.logo {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  border: solid 1px red;
  justify-content: center;
  margin: auto;
}

.nyt-logo {
  height: 25px;
  width: 190px;
}

.filler {
  border: solid 1px red;
  height: 100%;
  flex: 1;
}

main {
  border: solid 1px blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 35px;
  height: 100%;
  width: 100vw;
  padding: 60px;
  font-family: 'Times New Roman', Times, serif;
}

.title {
  height: 96px;
  width: 600px;
  line-height: 1.2em;
  font-size: 40px;
  margin-bottom: 20px;
  border: 1px solid brown;
}

.social {
  display: flex;
  width: 600px;
  height: 34.2px;
  padding-top: 20px;
  margin: 0 auto;
  border-top: 1px solid #ebebeb;
  justify-content: flex-start;
}

.social img {
  box-sizing: content-box;
  height: 15px;
  width: 15px;
  padding: 5px;
  background: #eeeeee;
  border: 1px #eee solid;
  border-radius: 50%;
} 

.social a {
  box-sizing: content-box;
  margin-right: 16px;
  height: 27px;
  width: 18px;
}

button.repost {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-right: 16px;
  padding: 5px;
  height: 27px;
  width: 27px;
  background: transparent;
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 50%;
  padding: 5px;
}

button > .repost-svg {
  position: relative;
  flex: 1;
  box-sizing: content-box;
  height: 15px;
  width: 15px;
  background: #eeeeee;
  padding: 0;
}

figure {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  justify-content: center;
  max-width: 1200px;
    margin: 25px auto 43px auto;
}

figcaption {
  font-size: 16px;
  max-width: 900px;
  color: #666666;
  font-family: nyt-imperial, georgia,'times new roman',times,serif;;
}

.credit {
  color: #888888;
  letter-spacing: 0.01em;
  font-size: 13px;
}